{{#if thumbnail}}
<div class="thumbnail">
		<img src="{{thumbnail}}">
</div>
{{/if}}
<div class="information">
	<h2>{{showtitle}} (Season {{season}}, episode {{episode}})</h2>
	<p>{{label}}: {{plot}}</p>
</div>