{{#if thumbnail}}
<div class="thumbnail">
		<img src="{{thumbnail}}">
</div>
{{/if}}
<div class="information">
	<h2>{{title}} ({{year}})</h2>
	{{#unless plotoutline}}
		<p>{{plot}}</p>
	{{else}}
		<p>{{plotoutline}}</p>
	{{/unless}}
</div>