{{#if thumbnail}}
<div class="thumbnail">
		<img src="{{thumbnail}}">
</div>
{{/if}}
<div class="information">
	<h2>{{showtitle}} (Season {{season}}, episode {{episode}})</h2>
	<p>{{#if label}}<strong>{{label}}:</strong> {{/if}}{{plot}}</p>
</div>